.post-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#post {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  
    @media screen and (max-width: 420px) {
      padding: 40px 0;
    }  
    
    .container {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: stretch;
      width: 50%;
      padding: 100px 0;
  
      @media screen and (max-width: 420px) {
        flex-direction: column;
        width: 85%;
      }
    }
  
    .writing-list {
      width: 20%;
      text-align: left;
      padding-right: 50px;
  
      @media screen and (max-width: 420px) {
        width: 100%;
      }
  
      .section-header {  
        @media screen and (max-width: 420px) {
          text-align: center;
        }
      }

      a {
        color: black;
        display: inline-block;
        margin-right: 5px;
      }
    }
  
    article {
      width: 100%;
      font-size: 20px;
      line-height: 30px;

      .author {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        .by-line {
          margin: 0;
          font: 600 17px/18px "gentium book basic";
        }

        img {
          border-radius: 50%;
        }

        .author-summary {
          padding-left: 20px;

          a {
            color: black;
            margin-right: 5px;
          }
        }

 
      }

      h1 {
        text-align: center;
        font-size: 45px;
        line-height: 55px;
      }

      h2 {
        text-align: center;
        padding: 20px 0;
      }
  
      @media screen and (max-width: 420px) {
        width: 100%;
      }
    }
  }
  
  