#contact {
  background-color: #222;
  min-height: 50vh;
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-between;
  color: white;
}

.contact-map {
  width: 50%;
  position: relative;
}

.contact-details {
  width: 50%;
  text-align: right;
  padding: 30px 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  .section-header {
    margin-bottom: 10px;
  }

  p {
    color: #666;
    width: 100%;
    font: 400 14px/22px "Roboto";
  }

  .line {
    margin-top: 10px;
    width: 30px;
    height: 2px;
    background: white;
  }

  .social {
    text-transform: uppercase;
    padding: 20px 0;

    a {
      width: auto;
      display: inline-block;
      padding-left: 10px;
      color: #fff;
    }
  }
  
}