@import '../../templates/variables.scss';

header {
	width: 100%;
	position: fixed;
	z-index: 900;

	@media screen and (max-width: $breakpoint-mobile-max) {
		position: absolute;
	}  

	.container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		height: 100px;
		width: 95%;
	}
}

.logo {
	width: 45px;
	height: 45px;
	font: 400 45px/55px 'gentium book basic';
	color: black;

	a {
		text-decoration: none;
		color: black;
	}
}

@media screen and (max-width: $breakpoint-mobile-max) {
  .logo {
		width: 100%;
		text-align: center;
	}
}