.navigate {
  width: 100%;
  text-align: center;

  display: flex; 
  align-items: center;
  justify-content: center;
  height: 150px;
 
  a {
    font: 700 140%/100% 'Oswald', sans-serif; 
    display: block;
    width: auto;
    margin-top: 20px;
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: $link-color;
  }
}

.logo {
  margin-top: -15px;
  width: 100px;
}