@import '../../templates/variables.scss';

.ReactModal__Body--open {
  overflow: hidden;
}

.work-item-individual {
  background: #fdfdfd;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  .container {
    width: 90%; 
    display: flex;
    margin: 0;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;

    @media screen and (max-width: $breakpoint-mobile-max) {
      flex-direction: column;
      width: 100%;
      position: absolute;
    } 
  }

  h2 {
    font: 400 30px/25px 'Alegreya';
    padding-bottom: 30px;
  }
}

.work-item-image {
  width: 33.33%;
  min-height: 100vh;
  background: url(http://placehold.it/500/1000) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  @media screen and (max-width: $breakpoint-mobile-max) {
    width: 100% !important;
    min-height: 20vh;
  }
}

.work-item-summary {
  background-color: #000;
  width: 33.33%;
  min-height: 100vh;
  color: white;
  flex-direction: column;
  display: flex;
  padding: 80px;
  justify-content: center;

  @media screen and (max-width: $breakpoint-mobile-max) {
    width: 100%;
    min-height: 30vh;
    padding: 20px 10%;
  }

  .line {
    width: 30px;
    height: 2px;
    background: white;
  }

  h3 {
    font: 700 24px/28px 'Alegreya Sans';
    text-transform: uppercase;
  }

  p {
    margin-top: 50px;
    font: 400 15px/20px;
  }

}

.work-item-explanation {
  background: #fdfdfd;
  width: 33.33%;
  color: 000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 120px 0 50px;
  position: relative;

  @media screen and (max-width: $breakpoint-mobile-max) {
    width: 80%;
    margin: 0 auto;
    min-height: 50vh;
    padding: 30px 0;
  }

  h3 {
    font: 700 20px/20px 'Alegreya Sans';
    text-transform: uppercase;
  }

  .return-to-work {
    color: grey;
    text-align: right;
    padding-bottom: 5px;
    cursor: pointer;
  }
}