// Colors
$grey-light:        #efefef;
$grey-dark:         #777;
$link-color:        #000000;
$black:				lighten(#000, 15%);

// Break Points
$break-small: 320px;
$break-medium: 760px;
$break-large: 1200px;