.work-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.work-item {
  width: 40%;
  padding: 50px;
  border-bottom: 1px solid $grey;

  h3 {
    padding: 0;
    margin: 0;
  }

  .position {
    margin-top: 10px;
    color: darken($grey, 20%);
    font: 400 110%/60% "gentium book basic";
    line-height: 1em;
  }

  .description {
    margin-bottom: 0;
    font-size: 18px;
  }

  .more {
    display: none;
  }

  &:hover {
    background-color: #fcb316;

    .position {
      color: black;
    }

    .more {
      display: block;
      position: absolute;
      top: 0;
      width: 80px;
      height: 100%;
      right: 0px;

      img {
        width: 100%;
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
    position: absolute;
    top: 50%;
  }

  img {
    width: 100%;
    max-width: 100%;
  }
}