@import '../../templates/variables.scss';

#work {
  background: #2d2e36;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  position: relative;

  @media screen and (max-width: $breakpoint-mobile-max) {
    padding: 40px 0;
  }  
  
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;

    @media screen and (max-width: $breakpoint-mobile-max) {
      flex-direction: column;
    } 
  }

  h2 {
    padding-bottom: 30px;
  }
}

.work-modal {
  overflow: auto;
}

.work-item-overview {
  position: relative;
  width: 33.3%;
  height: 100vh;
  padding: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-right: 1px solid #1d1e22;

  &:last-of-type {
    border-right: 0px;
  }

  &:hover {
    background-color: white;
    color: black;
    transition: background-color 500ms linear;
    transition: color 500ms linear;
  }

  @media screen and (max-width: $breakpoint-mobile-max) {
    width: 100%;
    margin-bottom: 20px;
  }  

  h3 {
    text-align: center;
    margin: 0;
    font: 700 18px/35px 'Roboto';
    text-transform: uppercase;
  }

  .position {
    margin: 0;
    text-align: center;
    font: 400 15px/1.4 italic 'gentium book basic';
    padding-bottom: 10px;
  }

  .line {
    width: 30px;
    margin: 0 auto;
    height: 2px;
    background: white;
  }

  .icon {
    text-align: center;
    width: 50px;
    fill: white;
  }
}

@media screen and (max-width: 360px) {
  #work .container {
    flex-direction: column;
  }

  .work-item-overview {
    width: 100%;
  }
}
